body {
  font-family: 'Vietnam Pro', sans-serif;
}

.bordes { border: 1px solid rebeccapurple; border-radius: 5px;}

/*barra de navegacion*/
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.burguer {
  display: none;
}

header img {
  width: 120px;
  height: 23px;
}

/*sacar el padig de 160*/
.menu-principal {
  list-style: none;
  text-align: center;
  padding: 0 160px;
  display: flex;
  justify-content: center;
  color: #232C50;
  font-weight: bold;
}

.menu-principal>li {
  padding: 0% 10px;
}

/*utlizacion de :hover para la barra de navegacion*/

.gris1:hover {color: #B3B2B7;}

/*estructura del sitio*/

.seccion1, .seccion2 { padding: 65px 160px 0 }

/*estilos para los botones*/

button {
  color: white;
  padding: 15px 25px;
  background-color: #F3613C;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

/*.botone-lista {
  color: white;
  padding: 15px 25px;
  background-color: #F3613C;
  border-radius: 25px;
  border: none;
}*/

.reaccion-1 .reaccion-2 {
  background-color: #FFFFFF;
  color: #F3613C;
}


/*primera seccion de titulo e imagen de graficos*/

.seccion1 {
  display: flex;
  justify-content: center;
}

.caja1-imagen {
  width: 550px;
  height: 500px;
}

div>h1 {
  font-size: 50px;
  color: #232C50;
}

div>p {
  font-size: 16px;
  color: #B3B2B7;
}

/*segunda seccion de parrafo y lista ordenada*/

.seccion2 {
  display: flex;
  justify-content: center;
}

div>h2 {
  font-size: 40px;
  color: #232C50;
}

ol>li {
  display: flex;
  text-align: center;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: #232C50;
  font-size: 16px;
  font-weight: bold;
  list-style: none;
}

ol>li>button { margin: 0 5px; }

ol>p {
  color: #B3B2B7;
  margin-left: 60px;
}

form>p {
  color: #8C8C94;
  font-size: 10px;
  margin-left: 0;
}

/*ol>li {
  color: #232C50;
  font-size: 16px;
  font-weight: bold;
  list-style: none;
}

ol>p {
  color: #B3B2B7;
}*/

/*tercera seccion- las cards*/

h3 {
  font-size: 30px;
  text-align: center;
  color: #232C50;
}

.seccion3 {
  display: flex;
  justify-content: center;
}

.cards {
  display: flex;
  justify-content: flex-start;
  background-color: #FAFAFA;
  margin: 10px;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  height: 180px;
}

.cards>img {
  width: 80px;
  margin: -40px;
}


h4 {
  color: #242E53;
  margin-top: 50px;
}

.cards>p {
  color: #B9B9C1;
}

.started {
  display: flex;
  margin: 10px auto;
  align-items: center;
  justify-content: center;
}

/*efectos el boton que esta en las cards*/
.cards-boton {
  color: white;
  padding: 15px 25px;
  background-color: #F3613C;
  border-radius: 25px;
  border: none;
  margin-top: 50px;
}

.cards-boton:hover {
  background-color: #FFFFFF;
  color: #F3613C;
}

footer {
  margin: 170px 0 0;
  width: 100%;
}

/*barra naranja y boton blanco*/
.ultimo-titulo {
  background-color: #F3613C;
  width: 100%;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*.ultimo-titulo * { }*/
.ultimo-titulo>span {
  color: #FFFFFF;
  font-size: 40px;
  width: 500px;
  padding: 20px 50px;
}

.boton-blanco {
  background-color: #FFFFFF;
  width: 150px;
  height: 45px;
  padding: 0 auto;
  margin: 0 auto;
  vertical-align: middle;
  color: #F3613C;
}

.boton-blanco:hover {
  color: #FFF;
  background-color: #F3613C;
}

/*barra negra- listas y logo*/
.barra-negra {
  background-color: black;
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 195px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.logo-redes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/*logos-imagenes
  de las redes sociales*/

.iconos-de-redes-sociales {
  gap: 13px;
  display: flex;
  color: #FFFFFF;
  flex-direction: row;
}

.iconos-de-redes-sociales i:hover { color: #F3603B; }

.lista-navegacion, .lista-contacto {
  color: #FFFFFF;
  list-style: none;
  /*margin-top: 50px;*/
  line-height: 35px;
  font-size: 14px;
  padding: 0;
}

.lista-navegacion { justify-content: flex-end; }

/*reacciones del hover de la lista de navegacion
  y lista de contacto  color de la palabra naranja*/

.naranja1:hover { color: #F3613C; }

/*barra negra-formulario*/
.seccion-formulario {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

.formulario {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.formulario * { padding: 10px 15px;}

.formulario>label { color: #fff; }

.formulario>input[type=email] {
  margin: 10px;
  padding: 5px 10px;
  height: 25px;
}

.boton-go {
  padding: 10px 20px;
  margin: 15px;
  border-radius: 25px;
  border: none;
}

.mail {
  padding: 0;
  border: none;
  border-radius: 25px;
}

/*.mail {
  padding: 10px 30px;
}

.formulario {
  margin-top: 50px;
  flex-direction: row;
}
*/
form>p {
  color: #8C8C94;
  font-size: 10px;
  margin-left: 75px;
}

input:invalid { background-color: #ffdddd; }

@media (max-width:376px) {

  /* seccion 1*/
  header {
    align-items: center;
    justify-content: space-around;
    padding: 0;
    width: 100%;
  }

  .burguer {
    width: 30px;
    display: inline;
    align-items: flex-end;
  }

  header button {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  /*.botone-lista {
    border-radius: 20px;
    width: 10px;
    height: 5px;
    position: absolute;
  }*/

  .reaccion { left: 30%; }

  div>h1 {
    font-size: 30px;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }

  header img {
    width: 150px;
    height: 30px;
  }

  .menu-principal {
    display: none;
    padding: 0;
  }

  .caja1-imagen img {
    width: 350px;
    height: auto;
  }

  .seccion1 {
    flex-direction: column-reverse;
    padding: 0;
    justify-content: center;
  }

  div>p {
    font-size: 16px;
    text-align: center;
  }

  /*seccion2*/
  .seccion2 {
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }

  div>h2 {
    font-size: 40px;
    text-align: center;
  }

  /*ol>li {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    list-style: none;
    background-color: rgb(255, 239, 234);
  }*/


  /*otra seccion- las cards*/
  div>h3 {
    font-size: 10px;
    text-align: center;
    padding: 0;
  }

  .cards {
    justify-content: flex-start;
    margin: 10px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: column;
    height: auto;
  }

  .ocultable { display: none; }

  /*foother*/
  .ultimo-titulo {
    flex-direction: column;
    padding: 10px 0;
    margin: auto;
    height: auto;
  }

  .ultimo-titulo>span {
    width: 100%;
    text-align: center;
  }

  .formulario * {
    padding: auto;
  }

  .formulario>input[type=email] {
    margin: 5px;
    padding: 5px 5px;
  }

  .boton-go {
    padding: 10px 20px;
    margin: 5px;
  }

  .barra-negra {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 15px 0 5px;
  }
}



/*barra naranja y boton blanco

    .ultimo-titulo 
    {
     flex-direction: column;
     height: 270px;
     text-align:center;
     margin-top: 100px;}
     
    .boton-blanco
     {
     margin: 70px;
     padding: 5px 20px;}
    
    .ultimo-titulo > h1
     {
     font-size: 20px;
     padding: 32px 250px 32px 80px;}
     
     /*barra negra- listas y logo
    
    .barra-negra
     {;
     border: 0%;
     margin: 0%;
     padding: 5px; 
     width: 100%;
     height: 350px;
     display: flex;
     flex-direction: column-reverse;
     justify-content: space-around;}
    
    .logo-redes
     {display: flex;
     flex-direction: column;
     justify-content: space-around;}
    
     /*logos-imagenes
      de las redes sociales
    
    .iconos-de-redes-sociales
     {gap: 13px;
     display: flex;
    
     flex-direction: row;}
    .iconos-de-redes-sociales i:hover  
   
    
    .lista-navegacion, .lista-contacto
     
     {
     justify-content: space-around;
     margin-top: 50px;
     line-height: 35px;
     font-size: 14px;}
    
     .lista-navegacion
     { justify-content: flex-end;}
    
    /*barra negra-formulario
    
    .boton-go
     {padding: 10px 20px;
     margin-top: 15px;
     border-radius: 25px;
     border:none;}
    
    .mail
    {padding: 10px 30px;
     border: none;
     border-radius: 25px;}
    
    .formulario
     {margin-top: 50px;}
     
    form > p
     {color: #8C8C94;
     font-size: 5px;
     margin-left: 5ppx;} */
